<template name="notesAdd">
    <h2>Add new note</h2>

    <form class="js-add-note-form">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="title" placeholder="Title"/>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Add new note</button>
    </form>
</template>