<template name="notesView">
    <!--<div class="form-group">-->
        <!--<label>Password</label>-->
        <!--<input class="form-control" name="pass" placeholder="Password"/>-->
        <!--<button class="js-view-note btn btn-default">Check password</button>-->
    <!--</div>-->
    {{#with note}}
        <h1>{{title}}</h1>

        <p>{{content}}</p>

        <p>
            <button class="js-delete-note btn btn-danger">Delete note</button>
        </p>
        <p>
            <a href="/notes/update/{{_id}}" class="update-link">update note</a>
        </p>
    {{else}}
        <h1>Not authorized</h1>
    {{/with}}
</template>